[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
matplotlib = "*"
flask = "*"
flask-apscheduler = "*"
python-dotenv = "*"
